/////////- class -//////////

.bar{
  background-color: #3c8f5d;
}

.title{
  padding: 0 0 0 10px;
}

.icon{
  margin: 0 5px;
}

.container{
  padding: 20px 40px;
  margin: 0 12%;
  background-color: #def7e7;
  height: 100%;

  .card{
    max-width: 30rem;
    margin: 0 auto 20px;
    img{
      width: 70%;
      padding: 0 16px;
    }
    .btn{
      text-align: center;
    }
  }
}

/////////- framework -//////////

.example-spacer {
  flex: 1 1 auto;
}

/////////- tag -//////////


body{
  background-color: #100222;
}

h1{
  text-align: center;
  font-size: 3rem;
  padding: 10px 0;
}
